@use 'mixins/mixins.scss' as *;
@use 'common/var.scss' as *;

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@include b(button) {
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  outline: none;
  border: #fafafa;
  border-radius: 5px;
  user-select: none;
  min-height: 40px;
  line-height: 1;
  vertical-align: middle;
  padding: 0 20px;

  // 采用标准盒模型，width由content padding border决定
  @include m(tiny) {
    padding: 0 15px;
  }

  @include m(medium) {
    padding: 0 20px;
  }

  @include m(small) {
    padding: 0 18px;
  }

  @include m(large) {
    padding: 0 25px;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }

  @include when(loading) {
    // 选中 LoadingComponent.tsx 中定义的 .loading 类名
    .loading {
      // 旋转动画名称  一周期时间  匀速   无限旋转
      animation: rotate 1.5s linear infinite;
    }
  }

  @include when(round) {
    border-radius: 20px;
  }

  @include m(primary) {
    @include button-variant($color-white, $color-primary, $color-primary);
  }

  @include m(success) {
    @include button-variant($color-white, $color-success, $color-success);
  }

  @include m(warning) {
    @include button-variant($color-white, $color-warning, $color-warning);
  }

  @include m(danger) {
    @include button-variant($color-white, $color-danger, $color-danger);
  }

  @include m(info) {
    @include button-variant($color-white, $color-info, $color-info);
  }
}
