@use 'mixins/mixins.scss' as *;

@include b(tree) {
  display: inline-block;
  width: 100%;
}

@include b('tree-node') {
  padding: 5px 0;
  font-size: 16px;

  @include e('label') {
  }
  &:not(.is-disabled) {
    .m-tree-node__label {
      cursor: pointer;
      display: flex;
      flex: 1;
    }
  }
  &.is-disabled {
    .m-tree-node__label {
      cursor: not-allowed;
      display: flex;
      flex: 1;
    }
  }
  &:hover {
    background-color: rgba(0, 0, 255, 0.071);
  }

  @include e('expand-icon') {
    display: inline-block;
    vertical-align: middle;
    transform: totate(0deg);
    transition: transform 0.2s ease-in;
    cursor: pointer;
    &.expanded {
      transform: rotate(90deg);
    }
    &.is-leaf {
      fill: transparent;
      path {
        fill: transparent;
      }
      cursor: default;
    }
  }

  @include when(selected) {
    background-color: rgba(0, 255, 255, 0.18);
  }

  @include e('content') {
    display: flex;
  }
}
