@use 'mixins/mixins.scss' as *;

@include b(vl) {
  overflow-y: scroll;
  position: relative;
  border: 2px solid red;
  width: 80vw;
  @include e('scroll-list') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
