@use 'config' as *;
// 转发config模块，二次引入也可用config
@forward 'config';

// bem负责生成绑定在元素上面的类名, 这些scss负责生成指定类名的样式,二者得对应起来才行
// .mushroom-button
@mixin b($block) {
  $B: $namespace + '-' + $block;
  .#{$B} {
    @content;
  }
}

// .mushroom-button.is-xxx
@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}

// &--primary => .mushroom-button--primary
@mixin m($modifier) {
  // 处理嵌套逻辑，提升到根级，跳出后代选择器
  @at-root {
    #{& + $modifier-separator + $modifier} {
      @content;
    }
  }
}

// &__header => .mushroom-button__header
@mixin e($element) {
  @at-root {
    #{& + $element-separator + $element} {
      @content;
    }
  }
}

@mixin button-variant($color, $background-color, $border-color) {
  color: $color;
  background: $background-color;
  border-color: $border-color;
}
